.btn {
}

.btn--search {
    background: none;
    border: none;

    svg {
        color: $white;
        &:hover {
            color:blue;
        }
        &:focus {
            outline: none;
        }
    }
}