html {
    -webkit-font-smoothing: antialiased;
    line-height: normal
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.hidden {
    display: none;
}

.content--hero {
    padding-top: 112px;
}

.content {
    section {
        margin-bottom: 3 * $spacer;
    }
}

.page-content {
    //padding: 3 * $spacer 0 0 0;
}

// Placeholder form input verticaal centreren op fysiek mobiel apparaat
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    line-height: normal;
}