// Mixins

@mixin reset-list() {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin overflow-elipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin object-fit($fit: fill, $position: null){
	-o-object-fit: $fit;
		object-fit: $fit;
	@if $position {
		-o-object-position: $position;
			object-position: $position;
	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}

@mixin container-md () {
	max-width: 950px;
	margin: 0 auto 150px auto;
}