// General typography

// .font--reg{
//     font-weight: 400;
// }

// .font--medium{
// 	font-weight: 500;
// }

// .font--semibold{
// 	font-weight: 600;
// }

// .font--bold{
// 	font-weight: 700;
// }

body {
    font-family: $font-primary;
}
a {
    color: $black;
}
.header__sitename {
    font-family: $font-sitename;
    text-decoration: none;
}
.block-title {
    font-size: 3em;
}

.align-center {
    text-align: center
}

h2 {
    line-height: 45px;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-size: 42px;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
}

section {
    h3 {
        margin: 0.83em 0;
        font: normal bold 30px/40px $font-primary;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
    }
}