// Colors
$black: #000;
$lightgrey : #eee;
$white : #fff;
$red : grey;

// Spacing
$spacer : 50px;

// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Merriweather';
$font-sitename: 'Raleway', sans-serif;

