.about-me {
    display: flex;
    margin-top: 100px;
}
.about-me__picture {
    margin-right: 25px;

    img {
        border-radius: 50%;
    }
}

.about-me__content {
    margin: auto 0;

    h2 {
        margin: 0 0 10px 0;
    }
}