.breadcrumbs {
    @include reset-list();
    list-style:none;
    margin:10px 0;
    overflow:hidden;

    li {
        display:inline-block;
        vertical-align:middle;
        margin-right:15px;
    }
    .seperator {
        font-size:18px;
        font-weight:100;
        color:#ccc;

    }
}
