.comments {
    @include container-md();
}

.comment-form {
    p {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
        }

        input, textarea {
            border: 1px solid $lightgrey;
        }
    }

    .form-submit {
        display: block;
    }
}

.comment {
    border-bottom: 1px solid rgba($black, .07);
    padding-bottom: 24px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.comment-heading {
    display: flex;
    .comment-author {
        font-weight: bold;
        margin-right: 10px;
    }

    .date {
        font-size: 10px;
        color: rgba($black, .5);
    }
}

.comment-reply {
    color: rgba($black, .5);
    font-size: 10px;
}
