.footer {
    background-color: $black;
}

.footer__sitename {
    position: relative;
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.footer__copyright {
    border-top: 0.5px solid #212529;;
    color: $white;
    font-size: 11px;
    padding: 18px 0;
}