
.grid-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: -$spacer;
    @include media-breakpoint-down(xs) {
        flex-direction: column;
    }

}

.grid-container--default {
    justify-content: space-between;

    .grid-item {
        display: block;
        @include media-breakpoint-up(md) {
            flex-grow: 1;
            flex: 1 1 30%;
            max-width: 350px;
        }
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }

    .grid-item__image {
        max-height: 235px;
        border-radius: 5px;
    }
}

.grid-container--full-width {
    justify-content: space-between;

    .grid-item {
        display: block;
        @include media-breakpoint-up(md) {
            flex-grow: 1;
            flex: 1 1 50%;
            max-width: 50%;
            margin-bottom: $spacer;
        }
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }

    .grid-item__content {
        padding: 10px;
    }

    .grid-item__image {
        height: auto;
        width: 100%;
    }

    .grid-item-content {
        padding: 25px 25px 15px 0;
    }
}

.grid-container--half-width {
    justify-content: space-between;

    .grid-item {
        display: block;
        width: calc(50% - 50px);
        @include media-breakpoint-up(md) {
            flex-grow: 1;
            flex: 1 1 48%;
            max-width: 48%;
            margin-bottom: $spacer;
        }
        @include media-breakpoint-down(md) {
            width: 50%;
        }
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }
}

.grid-item {
    background: $white;
    position: relative;
    border-bottom: 1px solid $black;
    margin-bottom: $spacer;

    &:hover {
        color: $black;
        text-decoration: none;

        .grid-item__image {
            img {
                //&:hover {
                opacity: 0.8;
                //transition: opacity 200ms linear;
                transform: scale(1.3) rotate(3deg);
                transform-origin: 25% 25%;
                //filter: alpha(opacity=60);
                //}
            }
        }
    }

    .grid-item__label {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
}

.grid-item__image {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    border-radius: 4px;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: " ";
        background: linear-gradient(180deg, rgba($black, 1), rgba($black, 1));
    }

    img {
        transition-duration: 5s;
        transform: scale(1);
        transform-origin: 25% 100%;
        transition-timing-function: linear;
        width: 100%;
        height: auto;
        //filter: saturate(0.6) brightness(1.2);

    }
}

.grid-item-content {
padding: 15px 0;
}

.grid-item--countries {
display: flex;
align-items: center;

.grid-item__flag {
    font-size: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #888;
    margin-right: 30px;
}

.grid-item__title {
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 1.4em;

    h2 {
        margin: 0;
    }
}
}

.grid-item__title {
font-size: 24px;
line-height: 32px;
margin: 0;
font-family: $font-primary;
font-weight: 900;
}

.grid-item__term {
display: block;
font-family: $font-primary;
color: $black;
letter-spacing: 0.3px;
font-size: 18px;
}