.header {
    position: absolute;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to bottom, #151519 0%, rgba(21, 21, 25, 0.9) 15%, rgba(21, 21, 25, 0.7) 30%, rgba(21, 21, 25, 0.6) 40%, rgba(21, 21, 25, 0.5) 50%, rgba(21, 21, 25, 0.4) 60%, rgba(21, 21, 25, 0.3) 70%, rgba(21, 21, 25, 0.2) 80%, rgba(21, 21, 25, 0.1) 85%, rgba(21, 21, 25, 0) 98%);
    z-index: 50;
    display: flex;
    padding: 40px 30px;
    align-items: center;

    &.header--hover {
        @include media-breakpoint-up(sm) {
            background-color: $black;
            transition: opacity, 0.5s ease-in-out, visibility, 0.5s ease-in-out;
        }
    }

    &.menu-open {
        @include media-breakpoint-down(sm) {
            position: fixed;
            background: $black;
            height: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
}

.header--fixed {
    @include media-breakpoint-up(sm) {
        position: fixed;
        flex-direction: row;
        display: flex;
        height: 50px;
        background: rgba($black, 0.85);
        align-items: center;

        .header__sitename {
            font-size: 20px;
            padding: 0 0 0 10px;
        }
        .menu-item {
            padding-top: 0;
            padding-bottom: 0;
        }
        .menu-main-container {
            align-items: center;
        }
    }
}

.header__sitename {
    position: absolute;
    display: flex;
    justify-content: center;
    color: $white;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.header__hamburger {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 30px;
    right: 30px;
    z-index: 50;
}