.hero {
    position: relative;
    color: $white;

    a {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}

.hero-content {
    position: absolute;
    text-align: center;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:hover {
        //.hero__image {
        //    transform: scale(1.3) rotate(3deg);
        //    transform-origin: 25% 25%;
        //}
    }
}

.hero-text {
    max-width: 600px;
}

.hero__image {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    object-fit: cover;

    //transition-duration: 25s;
    //transform: scale(1);
    //transform-origin: 25% 100%;

    img {
        height: 100vh;
        object-fit: cover;
    }
}

.hero__text {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    object-fit: cover;
    background: $white;
    padding-top: 112px;
    color: $black;
    img {
        height: 100vh;
        object-fit: cover;
    }
}


.hero__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    line-height: 95px;
    margin-top: 2px;
}

.hero__subtitle {
    position: relative;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 11px;

    &:after {
        background-color: rgba(255, 255, 255, 0.3);
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: 0px;
    }
}