@mixin path-colors {
    @for $i from 1 through length($colors) {
        .active.group#{$i - 1}, .active.group#{$i - 1} path {
            fill: nth($colors, $i);
        }
    }
}

#bg {
  fill: #efefef;
}
[cc] {
  fill: white;
  stroke: #555;
  stroke-width: 0.5px;
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map {
    position: relative;
    width: 100%;
    margin: 0 auto $spacer auto;

    svg {
        width: 100%;
    }
    path {
        fill: #f2f2f2;
        fill-rule: evenodd;
        stroke: white;
        stroke-width: 1px;
        cursor: default;
        transition: fill 300ms ease;
        margin: 221px;
        // box-shadow: 0px 1px 50px -1px rgba(0, 0, 0, 1);
        filter: brightness(100%);
        &:hover {
            stroke: black;
        }
    }
    .active, .active path {
        cursor: pointer;
    }
    // @include path-colors();
    .active {
        fill: darkblue;
    }
    .visited  {
        fill: darkgray!important;
    }
}

.map_country-data {
    display: none;
}

.tooltip{
    background-color:#fff;
    position:absolute;
    padding: 20px 40px;
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.25);
    transition: opacity,0.3s ease-in-out,visibility,0.3s ease-in-out;
}