.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}

.menu-main-container {
    display: flex;
    height: 100%;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    .menu {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .menu-item {
        display: inline-block;
        padding: 0 18px 0 18px;
    }

    .current-menu-item {
        a {
            border-bottom: 1px solid white;
        }
    }

    .menu-item-has-children {
        &:hover {
            .sub-menu {
                display: flex;
                flex-direction: column;

                .menu-item {
                    padding-bottom: 0;

                    a {
                        padding: 0;
                    }
                }
            }
        }
    }

    .sub-menu {
        position: absolute;
        display: none;
        background: $white;
        padding: 20px 40px;
        box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.25);
        transition: opacity, 0.3s ease-in-out, visibility, 0.3s ease-in-out;
        z-index: 100;

        .menu-item {
            line-height: 27px;
        }

        a {
            color: $black;
            font-size: 11px;
            letter-spacing: 1px;
        }
    }

    a {
        color: $white;
        font-family: $font-primary;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        line-height: 27px;
        text-transform: uppercase;
        padding: 10px 0;

        &:hover {
            color: $white;
            text-decoration: none;
            border-bottom: 1px solid $white;
            transition: color 0.3s ease-in-out;
        }
    }

    .container {
        height: 100%;
    }

    &.open {
        display: block;

        .menu {
            flex-direction: column;
        }

        .menu-item {
            text-align: center;

            a {
                font-size: 2em;

                .icon-dropdown {
                    display: none;
                }
            }
        }
    }
}

.navigation__right {
    display: flex;
    position: absolute;
    right: 0;

    @include media-breakpoint-down(sm) {
        display: none;
    }

    .flag-icon {
        margin-right: 10px;
    }
}

#menu-footer {
    a {
        color: #white;
    }
}

.menu-footer-container {
    max-width: 1000px;
    margin: auto;

    .menu {
        display: flex;
        padding: 33px 0;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}