.search {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(8,8,16,0.75);
    z-index: 100;
}

.search-open {
    filter: blur(8px);
    position: fixed;
    width: 100%;

    .header {
        .btn--search {
            display: none;
        }
    }
}

.search--active {
    display: flex;
    justify-content: space-between;

    .btn--search {
        position: absolute;
        font-size: 4em;
        top: 50px;
        right: 50px;
        &:focus {
            outline: none;
        }
    }

    .searchform {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;

        .searchform__title {
            color: $white;
            font-size: 2em;
        }

        .searchform__input {
            background: none;
            border-left: none;
            border-right: none;
            border-top: none;
            border-bottom: 1px solid #fff;
            color: $white;
            padding: 30px 0;
            font-size: 3em;
            &::placeholder {
                color: $white;
            }
            &:focus {
                outline: none;
            }
        }
    }
}