.social-share {
    display: flex;
    flex-direction: column;
    @include container-md();
}

.social-post {
    display: flex;

    a {
        color: $white;
        width: 100%;
        background: blue;
        display: flex;
        padding: 15px 50px;
        justify-content: center;

        &.twitter {
            background: #55acee;
            &:hover {
                background: lighten(#55acee, 15%);
            }
        }

        &.whatsapp {
            background: #25D366;
            &:hover {
                background: lighten(#25D366, 15%);
            }
        }

        &.facebook {
            background: #3b5999;
            &:hover {
                background: lighten(#3b5999, 15%);
            }
        }

        &.pinterest {
            background: #bd081c;
            &:hover {
                background: lighten(#bd081c, 15%);
            }
        }

        &.linkedin {
            background: #0077B5;

            &:hover {
                background: lighten(#0077B5, 15%);
            }
        }
    }
}