.submenu-collection {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: auto;
    z-index: 500;
    transform: translateY(-50%);
    transition: transform 0.4s ease;
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.submenu-collection--active {
    transform: translateY(0);
    transition: transform 0.4s ease;

    .active-menu {
        visibility: visible;
        @include media-breakpoint-down(md) {
            visibility: visible;
            transform: translate(0, 0);
            transition: transform 0.4s ease;
        }
    }
}

.submenu {
    position: absolute;
    top: 0;
    display: inline-block;
    visibility: hidden;
    background: $white;
    font-size: 24px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    &:after,
    &:before {
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #fff;
        top: -9px;
        content: '';
        left: 40px;
        margin-left: -20px;
        position: absolute;
    }

    @include media-breakpoint-down(md) {
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        visibility: visible;
        transform: translate(100%, -100%);
        transition: transform 0.4s ease;
    }

    .submenu__menu {
        display: flex;
        height: 100%;
        flex-grow: 1;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }

        span {
            display: block;
            font-size: 14px;
            letter-spacing: 1px;
            color: $black;
            text-transform: uppercase;
            margin: 0.67em 0;
            padding-bottom: 0.5em;
            border-bottom: 1px solid $black;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        ul {
            @include reset-list();
        }

        li {
            font-size: 16px;
            padding: 0.25em 0;
            line-height: normal;

            &.active {
                div {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        border-top: 2px solid #000;
                        bottom: 0;
                        width: 100%;
                    }
                }

                &:after {
                    //content: url('bla');
                    color: $black;
                    margin-left: 4px;
                }
            }
        }

        a {
            position: relative;
            color: $black;

            &:hover,
            &:focus {
                color: rgba($black, .5);
                transition: color 0.2s ease-in-out;
                text-decoration: none;

                &:after {
                    opacity: 1;
                    transition: opacity 0.4s ease;
                }
            }

            &.is-active {
                color: blue;
            }
        }

        .is-active {
            &:after {
                opacity: 1;
            }
        }
    }
}

.submenu-regions {
    padding: 25px;

    .submenu-region {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        ul {
            @include reset-list();
        }
    }
}