.article-content {
    position: relative;
    background: $white;
    padding: 0 2* $spacer;
    max-width: 916px;
    margin: auto auto 0 auto;
    line-height: 34px;
}

.article-metadata {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: rgba($black, .5);
}

.article-introduction {
    p {
        font-size: 1.2em;

        &:first-of-type:first-letter {
            float: left;
            padding: 0 .25em 0 0;
            font-size: 3.55em;
            font-weight: 400;
            line-height: 1;
            color: $red;

        }
    }
}

.article-main-text {
    p {
        margin-bottom: 1.8em;
        font: normal 400 20px/34px $font-secondary;
    }
}

.body-text {
    margin: 0 auto;

    h3 {
        margin: 0.83em 0;
        font: normal bold 30px/40px $font-secondary;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
    }
    blockquote {
        font: normal 400 36px/48px $font-secondary;
        margin: 30px 0;
        text-align: center;
    }
}

.article-image {
    margin-bottom: 1.8rem;

    .image-container {
        width: calc(100% + 200px);
        margin-left: -100px;
        margin-bottom: 45px;

        img {
            width: 100%;
            height: auto;
        }
    }
    figcaption {
        margin-top: .5em;
        font-size: .85em;
        font-style: italic;
        line-height: 1.25;
        opacity: .5;
    }
}
